<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <title>Attandance option </title>


</head>
<body>
<form  action="#" th:object=${employee}  style="width:60%;"
      METHOD="POST">
<a th:href="@{/yearly(id=${employee.id})}"  class="btn btn-info btn-sm " >Yearly</a>
<a th:href="@{/monthly(id=${employee.id})}" class="btn btn-danger btn-sm">Monthly</a>
</form>
<h1>hiii</h1>
</body>

</html>